<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.company.shoppingmall.mapper.memberMapper">
  
	  <insert id="insert">
		insert into member(mId, mPassword , mTel, mEmail, mName, mAddress, regdate, mClass,auth,mPoint )
			   values(#{mId},#{mPassword} ,#{mTel}, #{mEmail}, #{mName},#{mAddress}, now(),"silver",0,0)
	   </insert>
   	   <select id="idCheck" resultType="com.company.shoppingmall.dto.memberDTO">
			select * from member where mId = #{id}
		</select>
		
		<select id="loginCheck" resultType="com.company.shoppingmall.dto.memberDTO">
		select * from member where mId = #{id}
		</select>
		
		<select id="findById" resultType="com.company.shoppingmall.dto.memberDTO">
		select * from member where mId = #{id}
		</select>
		 	     <!-- 수정 -->
    <update id="update">
    	UPDATE member SET mId = #{mId}, mPassword=#{mPassword}, mTel = #{mTel}, mEmail=#{mEmail}, mName = #{mName}, mAddress = #{mAddress},mPoint=#{mPoint},mClass=#{mClass} WHERE mId=#{mId}

    </update>
    
    
    <delete id="delete">
  		delete from member where mId = #{mId}
  	</delete>
   </mapper>
 